.container{
	/*background-color: linear-gradient (lightsalmon, navy);*/
	width: 100%
}

header{
	font-family: 'Poiret One', sans-serif;
	font-size: 40px;
	height: 100px;
	padding: 30px;
	background-color: coral;
}

main{
	width: 100%;
	/*margin-left: -8px;*/
	/*margin-top: -8px;*/
	/*background: inherit;*/
	width: 100%;
}

nav{
	width: 100%;
}

li{
	float: right;
	background-color: #006A6E;
    padding: 10px 30px 10px 50px;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	width: 60px;
	text-align: center;
	vertical-align: middle;
}

a:hover {
	color: white;
}

.wrapper{
	width: 100%;
	clear: both;
	background: linear-gradient(#26eaef, blue, darkblue, black, black);
	height: 10994px;
	float: left;
}

footer{
	color: white;
	background-color: #14141f;
	clear: both;
	padding: 10px 10px 10px 30px;
}

.depth{
	width: 1px;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	background-repeat: no-repeat;
	height: 1000px;
	margin-left: 100px;
	}

.milestone {
	font-size: 15px;
	text-align: center;
	vertical-align: text-center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border-color: rgba(255, 255, 255, 1);
	border-style: solid;
	color: rgba(255, 255, 255, 1);
	margin-left: 50px;
	}

span{
	display: inline-block;
	vertical-align: middle;
  	line-height: normal;   
}

.sources {
	font-size: 10px;
	color: white;
}

#surface {
	float: left;
}

#floor{
	float: right;
}
