.container{ 
  background-color: #f0efef;
  width: 960px;
  margin: auto;
  }

  header{
    background-color: #033048;
    margin-bottom: 30px;
  }

  h1{
    font-weight: 800;
    color: white;
    font-size: 40px;
    padding-top: 30px;
    float: left;
  }

  nav{
    font-weight: 600;
    color: #f9e42e;
    font-size: 24px;
    text-decoration: none;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
  }

a{
  font-size: 24px;
  font-weight: 600;
  float: right;
  text-decoration: none;
  color: #033048;
  padding: 20px;
}

h2{
  font-size: 40px;
  color: #033048;
  font-weight: 600;

}

p{
  font-size: 24px;
  color: #606161
  font-weight 300;

}

p::first-letter { 
    font-size: 300%;
    color: #033048;
    font-weight: 600;
}

.clear {
    clear: both;
  }

main{
  float: left;
  margin: auto;
  background-color: #f0efef;
  width: 960px;
}

alignleft{
  float: left;
  width: 700px;
}

.a{
  font-size: 24px;
  font-color: #033048;
  font-weight: 600;
}

h3{
  font-size: 32px;
  font-weight: 800;
  color: #033048;
}

ul{
  font-size: 24px;
  font-weight: 300;
  color: #033048;
}

.cats{font-size: 24px;
  color: #033048;
  font-weight: 300;
  margin-bottom: 30px;
}

footer{
  color: white;
  font-weight: 300;
  font-size: 20px;
  background-color: #121212;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.bottom{
  color: white;
  background-color: #f9e42e;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

h4{
  background-color: #033048;
  padding: 10px;
  margin: auto;
  width: 200px;
  }

.logo2{
    font-weight: 800;
    color: #f9e42e;
    font-size: 40px;
    margin: auto;
    padding-top: 30px;
  }

  .side{
    font-size: 22px;
  }

  .align-right{
    width: 240px;
    float: right;
    padding-left: 20px;
  }

  .social{
    padding: 30px;
    display: inline-block;
    width: 100px;
  }

  .twitter{
    float: left;
  }

  .facebook{
    float: right;
  }

.yellow{color: #f9e42e;}

/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */


header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




